* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey-color:  rgba(136, 136, 136, 1);
    --background-color: #000;
    --text-color: #222222;
    --textEH-color:#2daaed;
    
    
}
.blod-text {
    font-weight: bold !important;
    font-size:1.6rem !important;
}

.Wrap{
    max-width: 1170px;
    margin: 0 auto;
}

.modal1{
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: none; */

}

.modal1_overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4)
    
}
.modal1_body
{
    width: 800px;
    height: 485px;
    background-color:#ffffff;
    border-radius: 4px;
    margin:  auto;
    box-shadow:1px 1px 6px #333;
    position: relative;
    z-index: 200;

}