* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey-color:  rgba(136, 136, 136, 1);
    --background-color: #000;
    --text-color: #222222;
    --textEH-color:#2daaed;
    
    
}
.blod-text {
    font-weight: bold !important;
    font-size:1.6rem !important;
}

.Wrap{
    max-width: 1170px;
    margin: 0 auto;
}