
.allNavbar{
    width:100%;
    border: 1px solid #ccc;
    height: 44px;
    position: fixed;
    background-color:#fff;
    top: 0;
    z-index: 1;
}
.nav-logo{
    margin-right: 54px;
}
.navbar1{
    display: flex;
    align-items: center;
    height:100%;
   
}
#nav-listMenu{
    width: 100%;
   display: flex;
    margin: 0;
    text-align:center;
    list-style: none;
}
.nav-listMenu>li{
    position: relative;
    padding: 0 20px
}
#nav-listMenu a{
    width: 92px;
    text-align: center;
    text-decoration: none;
    padding: 0 ;
    line-height: 38px;
    font-size: 1.4rem;
    font-weight: 500 ;
    display: inline-block;
    color: var(--text-color) ;
    
}

.navbar-li-song:hover>a{
   background-color: rgb(148, 216, 116);

}

.navbar-li-song:hover .subnav-song{
    display: block; 
}


.subnav-song--list-item ul li:hover{
    background-color: rgb(148, 216, 116);
}
.subnav-charts li:hover{
    background-color: rgb(148, 216, 116);
}
.subnav-playlist--list-item ul li:hover{
    background-color: rgb(148, 216, 116);
}
.subnav-collection--list-item ul li:hover{
    background-color: rgb(148, 216, 116);
}
.navbar-li-playlist:hover .subnav-playlist{
    display: block; 
}
.navbar-li-collection:hover .subnav-collection{
    display: block; 
}
.navbar-li-charts:hover .subnav-charts{
    display: block; 
}



.navbar-li-charts:hover>a{
    background-color: rgb(148, 216, 116);
    
}

.navbar-li-collection:hover>a{
    background-color: rgb(148, 216, 116);
}
.navbar-li-playlist:hover>a{
    background-color: rgb(148, 216, 116);
}
.navbar-li-artist:hover a{
    background-color: rgb(148, 216, 116);
}


.search{
    display: flex;
    height:40px;
    margin: 0 20px;
    align-items: center;
    background-color:rgba(242, 242, 242, 1);
    border-radius: 4px;
    /* opacity: 0.2; */
}
.search-input{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
   
}
.bi {
    margin: 0 10px;
    cursor: pointer;
   
}

.user-loggin button {
    height:40px;
    margin: 0 10px;
}
 
.img-logo{
    width: 120px;
}
.Text-header{
    font-size: 1.4rem;
    font-weight: 500;
}

.subnav-song{
    position: absolute;
    width: 550px;
    left: 348px;
    top:42px;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #d6c4c4;
    box-shadow: 0 3px 8px rgb(3 3 3 / 26%);
    display: none;
    z-index: 99999;
}
.subnav-song::before {
    content: "";
    width: 90px;
    left: 0;
    height: 10px;
    border-color:transparent;
    position: absolute;
    top: -6px;
}

.subnav-playlist{
    position: absolute;
    width: 550px;
    right: 344px;
    top:42px;
    padding-left: 20px;
    background-color: #fff;
    border: 1px solid #d6c4c4;
    box-shadow: 0 3px 8px rgb(3 3 3 / 26%);
    display: none;
}
.subnav-playlist::before {
    content: "";
    width: 90px;
    left: 0;
    height: 10px;
    border-color:transparent;
    position: absolute;
    top: -6px;
}

.subnav-charts{
    position: absolute;
    top: 42px;
    background-color: #fff;
    border: 1px solid #d6c4c4;
    box-shadow: 0 3px 8px rgb(3 3 3 / 26%);
    display:none;

}
.subnav-charts::before {
    content: "";
    width: 90px;
    left: 0;
    height: 10px;
    border-color:transparent;
    position: absolute;
    top: -6px;
}

.subnav-collection{
    position: absolute;
    width: 550px;
    right: 436px;
    top:42px;
    background-color: #fff;
    padding-left: 20px;
    border: 1px solid #d6c4c4;
    box-shadow: 0 3px 8px rgb(3 3 3 / 26%);
    display: none;
}
.subnav-collection::before {
    content: "";
    width: 90px;
    left: 0;
    height: 10px;
    border-color:transparent;
    position: absolute;
    top: -6px;
}

.subnav-song li{
    list-style: none;
}
.subnav-playlist li{
    list-style: none;
}
.subnav-collection li{
    list-style: none;
}
.subnav-charts li{
    list-style: none;
    margin: 5px 20px;
}

.subnav-collection--list-item,
.subnav-song--list-item, 
.subnav-playlist--list-item{
    margin: 10px;
    display: flex;
    
}

.subnav-artist{

    display: none; 
}

/* ----------modal------------ */


.container{
    
    margin: 64px 0 ;
    width: 100%;
    height : 1200px;
    z-index: 1;

    
}



.modal1_content h1
{
  color:red
}

/* ----------modal------------ */